.kolom1{
  width: 100%;
  margin-top: 60px;
}
.headerfotozelf{
  width: 100%;
}
.kolom2{
  display: grid;
 grid-template-columns: 50% 50%;
  align-items: center;
  padding: 5% 15%;

}
.tekstkolom2{
  padding-right: 20%;
  color:#0F2441 ;

}
video{
  width: 100%;

}
@media (max-width:890px){
  h2{
font-size: 40px;
padding-bottom: 3%;
  }
  .kolom2{
    grid-template-columns: 100%;
    padding:  5% 10%;
  }
  .tekstkolom2{
    padding: 0;
    padding-bottom: 10%;
    
  }
}
