
.header-vector{
  margin-top: 60px;
  width: 100%;
  display: flex;
}
.kolom1{
  padding: 5% 15% ;
  display: grid;
  grid-template-columns: 100;

}
.fotostand{
  width: 100%;
}
.tekstbeursstand{
  padding-right: 10%;
}
.kolom2{

display: grid;
grid-template-columns: 33% 33% 33%;
}
.imgbeurstand{
  width: 100%;
}
@media (max-width:890px){
  .kolom2{
    grid-template-columns: 100%;
    padding: 5%;
  }
  .kolom1{
    padding: 5% 10%;
  }
  h2{
    font-size: 40px;
  }
}