.fotoforbo{
    width: 100%;
    margin-top: 60px;
}

.kolom1{
    display: grid
    ;
    grid-template-columns: 60% 40%;
    margin: 5% 10%;
   align-items: center;
}
.paragraaf1{
    margin-top: -4%;
}

.kolom2{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 5% 10%;
    align-items: center;
}
.icon{
    width: 70%;
}

@media screen and (max-width: 1300px){
.kolom1{
    grid-template-columns: 100%;
}
.kolom2{
    display: flex
    ;
    flex-direction: column-reverse;
}
.icon{
    width: 50%;
}
}
@media screen and (max-width: 480px){
 .kolom1{
    margin: 5% 5%;
 }   
 .kolom2 {
    margin: 5% 5%;
 }
 .fotoforbo{
    margin-top: 80px;
    width: 100%;
 }
 .foto1{
    width:100%;
 }
}