
.header{
    margin-top: 80px;
}
.kolom1{
    margin: 5% 10%;
}
.fotosbeurs{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.foto{
    width: 100%;
}

@media screen and (max-width: 768px){
    .fotosbeurs{
        grid-template-columns: 100%;
    }
    .kolom1{
        margin: 5% 5%;
    }
}