.header-foto{
display: flex;
}
.foto1{
    width: 100%;
}
.kolom1{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 5% 10%;
    align-items: center;
}

.tekstkolom1{
    margin-right: 10%;
}
.paragraaf1{
    margin-top: -5%;
}

@media screen and (max-width: 1224px){
    .kolom1{
        grid-template-columns: 100%;
        margin: 5%;
    }
    .paragraaf1{
        margin-top: -3%;
    }
}

