@media screen and (max-width: 1280px) {
   
    .button-wiebenik, .button-projecten{
margin-top: 3%;
    }
    .kolom1{
        padding-left: 5%;
    }
    /*kolom1 header*/
.kolom2{
    padding: 5% 5%;
}
.paragraaf1{
    margin-top: -5%;
    margin-bottom: 0;
}
.kolom3{
padding: 5% 5%;
}
.contactformulier{
    margin: 5% 5%;
}
  }

  @media screen and (max-width: 1024px){
 
 
    .button-projecten, .button-wiebenik{
    font-size: 12pt;
    }
  
  }


  @media screen and (max-width: 768px){
    .kolom1{
grid-template-columns: 100%;
    }
    .foto1-kolom{
        display:none ;
    }
   
    .kolom2{
        grid-template-columns: 100%;
    }
    .foto2{
        width: 80%;
        margin-bottom: 5%;
    }
   
  
    
    .titel-projecten{
        margin-bottom: 3%;
        margin-top: 10%;
    }
   
  }

  @media screen and (max-width: 480px){
    
    .kolom1{
        margin-bottom: 10%;
    }
   
    .kolom3{
        grid-template-columns: 100%;
    }
    
   
  }
