.kolom{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10% 0% 5% 10%;
    align-items: center;
}

h1{
line-height: 55pt;
}
.subtitel{
    margin-top: -5%;
    font-size: 20pt;
}

.naam-titel{
    color: #299DF4;
}
.button-projecten{
    border: none;
font-family: montserrat;
padding: 12px 40px;
font-size: 14pt;
color: #0D2237;
border-radius: 12px;
cursor: pointer;
transition: all 0.2s;
margin-top: 0%;
background-color: #299DF4;


}
.button-projecten:hover{
background-color: #D0EFFF;

}
.kolom1{

    display: grid;
    grid-template-columns: 60% 40%;
    margin: 5% 10%;
    align-items: center;
}


.foto1{
    width: 100%;
 

}
.paragraaf1{
    margin-right: 10%;
    margin-top: -4%;
}

.kolom2{
    margin: 10% 10%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    place-items: center;
   
}
.paragraaf2{
    margin-top: -3%;
}
.foto2{
    width: 100%;
}
.kolom3{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10% 0% 5% 10%;
    align-items: center;
}
.textkolom3{
    padding-right: 10%;
}
.paragraaf3{
    margin-top: -5%;
}
.kolom4{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin: 10% 10%;
}

.foto4{
    width: 90%;
}

.paragraaf4{margin-top: -3%;}